@import './styles/variables.scss';
@import './styles/partials.scss';

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}
